// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.input_field{
    appearance: none;
    display: block;
    width: 100%;
    border-style: solid;
    border-radius: 0px;
    border-width:1px;
    border-color:rgb(224, 224, 224);
    padding: 7px 0 7px 10px;
    margin-bottom: 10px;
}
.span_input{
    margin-bottom: 5px;
    display:inline-block;
}
.label_input{
    width: 100%;
}

.form_container{
    width:700px;
    padding:0 50px 0 50px;
    margin-left:20%;
    background-color: white;
}

.input_button{
    color:white;
    background-color: #4299e1;
    border-width: 0px;
    border-radius: 0px;
    appearance: none;
    text-align: center;
    text-decoration: none;
    padding:7px 10px 7px 10px;
}